<h1>Comentários</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>

<pre class="prettyprint">
// Inicio formulario de contato
section {
  width: 100%;
  height: auto;
  
  form {
    width: 450px; /* largura fixa */
    margin: 0 auto; /* altura flexivel */
    
    input {
      margin: 2px;
      height: 30px;
      width: 100%;
      display: block;
    }        
  }  
}
// Fim formulario de contato
</pre>


<div class="botao">
	<a href="#" target="_blanck">Live Code</a>
</div>

