<!DOCTYPE HTML>
<html>
<head>

	<meta charset="utf-8">
	<title>Pré processador - SASS | Bruno Guazina</title>
	<meta name="title" content="SASS - Pré-processador de CSS" />
	<meta name="description" content="Esse conteúdo sobre SASS, é um pequeno guia para você que está iniciando no mundo dos pré-processadores de CSS." />

	<meta content="http://www.brunoguazina.com/Sass" property="og:url" />
	<meta content="http://www.brunoguazina.com/Sass/img/" property="og:image" />
	<link rel="shortcut icon" id="favicon" href="favicon.ico"> 
	<meta name="author" content="Bruno Guazina">
	
  <script src="lib/js/angular.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="lib/js/jquery.onepage-scroll.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <link href='lib/stylesheet/css/onepage-scroll.css' rel='stylesheet' type='text/css'>
  <link href='lib/stylesheet/css/style.css' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  
  <style>
    
	</style>

	<script>
    $(document).ready(function(){
      $(".main").onepage_scroll({
        sectionContainer: "section",
        responsiveFallback: 600,
        loop: true
      });
    });
	</script>

</head>

<body ng-app="Sass">
  <div class="wrapper">
	  <div class="main">
	    
    <criar-capa />
    <introducao />

      
        
      
	    
	    <section class="page2">
        <div class="page_container">
          <h1>Sintaxe</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <div class="conteudo">

<div class="left SCSS">
<span>SCSS</span>
<pre class="prettyprint">
$corPadrao: #cc6699;
$tamanhoDaFontePadrao: 14px;

@mixin tipografia($cor: $corPadrao){
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $cor;
}

$listaDeTitulos: 'h6', 'h5','h4', 'h3', 'h2','h1';
@each $titulo in $listaDeTitulos{
  
  $tamanhoDaFontePadrao: $tamanhoDaFontePadrao + 5;
  #{$titulo}{
    @include tipografia();
    text-transform: uppercase;
    text-align: center;
    font-size: $tamanhoDaFontePadrao;
  }
}
</pre>
</div>

<div class="right CSS">
<span>SASS</span>
<pre class="prettyprint">
$corPadrao: #cc6699
$tamanhoDaFontePadrao: 14px

@mixin tipografia($cor: $corPadrao)
  font-family: 'Raleway', sans-serif
  font-weight: 400
  color: $cor

$listaDeTitulos: 'h6', 'h5','h4', 'h3', 'h2','h1'
@each $titulo in $listaDeTitulos
  
  $tamanhoDaFontePadrao: $tamanhoDaFontePadrao + 5
  #{$titulo}
    @include tipografia()
    text-transform: uppercase
    text-align: center
    font-size: $tamanhoDaFontePadrao
</pre>  
</div>

</div>

	      </div>
      </section>
	    
	    <section class="page3">
	      <div class="page_container">
          
  	    </div>
      </section>

      <section class="page4">
        <div class="page_container">
          
        </div>
      </section>

      <section class="page5">
        <div class="page_container">
          
        </div>
      </section>

    
    </div>
  </div>

<script src="lib/js/appDirectives.js"></script>
<script src="lib/js/app.js"></script>

</body>
</html>