<h1>Interpolação</h1>

<p>Ao declarar variável entre <strong>#{</strong>$nomeDaVariavel<strong>}</strong> é gerado um resultado onde as variáveis são substituidas pelos valores presentes na memória. Você pode utilizar de diversas maneiras, no valor de uma propriedade, em seletores e até na url de uma background-image, como poderá ver nos proximos sliders. </p>

<pre class="prettyprint">
// inicio variáveis
$corPrincipal: #CC6699;
$corTextoBotao: #FFFFFF;
// fim variaveis

.contato {
  background: #{$backgroundContato};
  width: 100%;
  height: auto;
  padding: 10px 0;
  
  .formularioDeContato {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    
    input[type="text"] {
      margin: 2px;
      height: 30px;
      width: 100%;
      display: block;
    }
    input[type="submit"] {
      background: #{$corPrincipal};
      border: none;
      padding: 10px 25px;
      color: $corTextoBotao;
    }
  }  
}
</pre>

<div class="botao">
	<a href="#" target="_blanck">Live Code <i class="icon-newtab"> </i></a>
</div>



