<h1>Introdução</h1>

<div class="conteudo">

<p>Com a evolução da internet nos últimos anos, interfaces cada vez mais complexas e interativas contribuíram para que as folhas de estilo ficassem cada dia mais complexas. Isso fez com que iniciacem o surgissem dos pré-processadores de CSS.</p>
            
<p>Criado em 2006 por Hampton Catlin, o SASS é um pré processadores de CSS, que possui diversos recursos(<i>Mixins, Placeholders, Funções, Variáveis, Condicionais, Laços, etc</i>).</p>
            
<p>Permitem escrever um código mais limpo e escalável, tornar o desenvolvimento de CSS mais ágil e dinâmico, facilitando o reuso e aumentando a produtividade.</p>
            
<p>Possui uma grande comunidade de desenvolvedres e empresas de tecnologia que tem trabalhado incessantemente para não so manter, mas continuar evoluindo. Você tambem vai encontrar diversos frameworks como: <a href="http://compass-style.org" target="_black"><strong>Compass</strong></a>, <a href="http://bourbon.io" target="_black"><strong>Bourbon</strong></a>, <a href="http://susy.oddbird.net" target="_blanck"><strong>Susy</strong></a> entre outros.</p>

<p>Hoje em dia, caso não queira utilizar o terminal e não trabalhe com node.js ou Ruby por exemplo... você pode utilizar alguns aplicativos externo como este (<a href="http://koala-app.com" target="_black"><strong>Koala</strong></a>) que vão compilar esse codigo para CSS.</p>


</div>

