<h1>Seletores</h1>

<p>Um importande aspecto do <strong>CSS</strong> é a utilização dos seletores para selecionar qualquer elemento do seu <strong>HTML</strong>. Com a utilização do <strong>SASS</strong>, você poderá utilizar os seletores aninhados, facilitando e deixando seu código mais simples e escalável.</p>


<pre class="prettyprint">
section {
  width: 100%;
  height: auto;
  
  form {
	width: 450px;
    margin: 0 auto;
    
    input {
      margin: 2px;
      height: 30px;
      width: 100%;
      display: block;
    }        
  }  
}
</pre>


<div class="botao">
	<a href="#" target="_blanck">Live Code</a>
</div>


