<h1>Variáveis</h1>

<p>Um dos recursos mais conhecidos dos pré-processadores, você pode declarar uma variavel utilizando <strong>$</strong> e . </p>

<div class="left SCSS">
<pre class="prettyprint">
// inicio variáveis
$corPrincipal: #CC6699;
$corSecundaria: #CCCCCC;
$corTextoBotao: #FFFFFF;
// fim variaveis

.contato {
  width: 100%;
  height: auto;
  
  .formularioDeContato {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    
    input[type="text"] {
      margin: 2px;
      height: 30px;
      width: 100%;
      display: block;
    }
    input[type="submit"] {
      background: $corPrincipal;
      border: none;
      padding: 10px 25px;
      color: $corTextoBotao;
    }
  }  
}
</pre>
</div>

<div class="botao">
	<a href="#" target="_blanck">Live Code <i class="icon-newtab"> </i></a>
</div>
